.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &__answers-and-info {
    display: flex;
  }
}

@media screen and (max-width: 576px) {
  .App__answers-and-info {
    flex-direction: column;
  }
}
