@import '../../assets/scss/variables';

.App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &__answers-and-info {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    @extend %blue-box;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 0;

    &--off {
      background-color: $grey;
    }
  }
}

@media screen and (max-width: 576px) {
  .App__answers-and-info {
    flex-direction: column;
  }
}
