@import "../../assets/scss/variables";

.description {
  @include color-box($steel-blue, $light-blue);
  width: 49%;
  padding: 10px;
}

@media screen and (max-width: 576px) {
  .description {
    width: 100%;
    margin-top: 20px;
  }
}
