@import '../../assets/scss/variables';

.header {
  width: 100%;
  color: $white;

  &__top-part {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
  }

  &__score {
    margin: 0;
    align-self: center;   
  }

  &__logo,
  &__score,
  &__level-item {
    cursor: default;
  }

  &__level-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
  }

  &__level-item {
    width: 17%;
    padding: 5px 0;
    background-color: $grey;
    text-align: center;

    &:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  
    &:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    &--in-progress {
      background-color: $light-green;
    }

    &--done {
      background-color: $green;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__level-list {
      flex-wrap: wrap;
    }

    &__level-item {
      width: 33.3%;
    }

    &__level-item:first-of-type {
      border-bottom-left-radius: 0;
    }

    &__level-item:nth-child(3) {  
      border-top-right-radius: 5px;
    }

    &__level-item:nth-child(4) {
      border-bottom-left-radius: 5px;
    }

    &__level-item:last-of-type {
      border-top-right-radius: 0;
    }
  }
}
