@import '../../assets/scss/variables';

.question {
  margin: 20px 0;
  padding: 20px;
  display: flex;
  border-radius: 5px;
  background-color: $steel-blue;

  &__bird-image {
    width: 200px;
    height: 155px;
    border-radius: 10px;
  }

  &__content {
    padding-left: 40px;
    width: 100%;
  }

  &__bird-name {
    color: $white;
    cursor: default;
  }

  &__audio-player {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .question {
    flex-direction: column;

    &__bird-image {
      margin: 0 auto;
    }

    &__content {
      padding: 0;
    }

    &__bird-name {
      text-align: center;
    }
  }
}
